<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partial/head.ejs', { title : `${title}`, cannonical:
    `${cannonical}` }) %>
  </head>
  <body>
    <%- include('../../../partial/Navbar/Paslon.ejs') %>
    <div class="container mt-3">
      <div class="row">
        <div class="col">
          <h1 class="text-center">Daftar Paslon</h1>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <a href="/admin/paslon/tambah" class="btn btn-primary mb-2"
            >Tambah Paslon Baru</a
          >
          <% if (messages.success) { %>
          <div
            class="alert alert-success alert-dismissible fade show"
            role="alert"
          >
            <%= messages.success%>
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <% } %>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama Ketua</th>
                <th scope="col">Nama Wakil Ketua</th>
                <th scope="col">Gambar</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% if(data.length < 1) { %>
              <tr class="text-center">
                <td colspan="3">Tidak ada data paslon</td>
                <td colspan="3">Silahkan tambah dengan tombol diatas</td>
              </tr>
              <% } else { %> <% data.forEach((paslon, index) => { %>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= paslon.ketua %></td>
                <td><%= paslon.wakil %></td>
                <td class="text-center">
                  <img
                    class="img img-thumbnail"
                    style="width: 55%"
                    src="data:<%=paslon.img.contentType%>;base64,<%=paslon.img.data.toString('base64')%>"
                  />
                </td>
                <td>
                  <a
                    href="/admin/paslon/ubah/<%= paslon._id %>"
                    class="btn btn-success"
                    >Ubah</a
                  >
                  <button
                    class="btn btn-danger btn-delete"
                    data-id="<%= paslon._id %>"
                  >
                    Hapus
                  </button>
                </td>
              </tr>
              <% }) %> <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%- include('../../../partial/BSreq.ejs') %>
    <script src="/swal/dist/sweetalert2.all.min.js"></script>
    <script src="/js/admin/paslon/read.js"></script>
  </body>
</html>
