<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partial/head.ejs', { title : `${title}`, cannonical:
    `${cannonical}` }) %>
    <link rel="stylesheet" href="/css/paslon-form.css" />
  </head>
  <body>
    <%- include('../../../partial/Navbar/Paslon.ejs') %>
    <div class="container mt-3">
      <div class="row">
        <div class="col">
          <h1 class="text-center">Update Data Paslon</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-md-7">
          <div class="card">
            <div class="card-body">
              <% if (messages.error) { %>
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                <strong>Error !</strong> <%= messages.error %>
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <% } %>
              <form
                action="/admin/paslon/ubah/<%= data._id %>"
                method="POST"
                id="paslon-update"
              >
                <div class="form-group">
                  <label for="Ketua">Nama Ketua</label>
                  <input
                    type="input"
                    class="form-control"
                    name="nameKetua"
                    id="Ketua"
                    value="<%= data.ketua %>"
                    placeholder="Masukan Nama Ketua"
                  />
                </div>
                <div class="form-group">
                  <label for="Waketu">Nama Wakil Ketua</label>
                  <input
                    type="input"
                    class="form-control"
                    id="Waketu"
                    name="nameWaketu"
                    value="<%= data.wakil %>"
                    placeholder="Masukan Nama Wakil Ketua"
                  />
                </div>
                <div class="form-group">
                  <button class="btn btn-success btn-block" type="submit">
                    Perbarui Data
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../../../partial/BSreqValid.ejs') %>
    <script src="/js/admin/paslon/update.js"></script>
  </body>
</html>
